@using OnlineStore.Domain.ViewModel.Client.Product
@model FilterClientProductViewModel
@{
    ViewData["Title"] = "محصولات";
}
<form asp-area="" asp-controller="Home" asp-action="ProductList"  id="filter-search">
    <input type="hidden" asp-for="Page" />
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5 responsive-sidebar">
            <div class="ui-sticky ui-sticky-top">
                <div class="ui-box sidebar-widgets">
                    <!-- start of widget -->
                    <div class="widget widget-collapse mb-3">
                        <div class="widget-title widget-title--collapse-btn" data-bs-toggle="collapse" data-bs-target="#collapsePriceFilter" aria-expanded="false" aria-controls="collapsePriceFilter" role="button">دسته‌بندی نتایج</div>
                        <div class="widget-content widget--search fa-num collapse" id="collapsePriceFilter">
                            <div class="widget-content widget--category-results">
                                <ul>
                                    @await Component.InvokeAsync("ProductCategoryList")
                                
                                </ul>

                            </div>
                        </div>
                    </div>
          
                    <!-- end of widget -->
                    <!-- start of widget -->
                    <div class="widget mb-3">
                        <div class="widget-title">جستجو در محصولات:</div>
                        <div class="widget-content widget--search">
                            <div class="form-element-row">
                                <input asp-for="Tilte" type="text" class="form-control" placeholder="نام محصول …">
                                <i class="ri-search-line icon"></i>
                            </div>
                        </div>
                    </div>
                    <!-- end of widget -->
                    <!-- start of widget -->
                    <div class="widget mb-3">
                        <div class="widget-title">جستجو در قیمت:</div>
                        <div class="widget-content widget--search">
                            <div class="form-element-row">
                                <input asp-for="Price" type="text" class="form-control" placeholder="قیمت محصول …">
                                <i class="ri-search-line icon"></i>
                            </div>
                        </div>
                    </div>
                    <!-- end of widget -->
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <button class="btn btn-primary mb-3 d-md-none toggle-responsive-sidebar">فیلتر پیشرفته <i class="ri-equalizer-fill ms-1"></i></button>
            <div class="listing-products">
                <div class="listing-products-header mb-4">
                    <div class="listing-products-filter-container do-simplebar me-4" data-simplebar="init">
                        <div class="simplebar-wrapper" style="margin: 0px;">
                            <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                                <div class="simplebar-offset" style="left: 0px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" style="height: auto; overflow: scroll hidden;">
                                        <div class="simplebar-content" style="padding: 0px;">
                                            <div class="listing-products-filter">
                                                <!-- start of nav-tabs -->
                                                <ul class="nav nav-pills nav-tabs align-items-center" id="sort-tab" role="tablist">
                                                    <li class="d-inline-flex align-items-center nav-item me-3 text-muted">
                                                        <i class="ri-equalizer-line me-2"></i>
                                                        مرتب سازی بر اساس:
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <button class="nav-link active" id="most-visited-tab" data-bs-toggle="tab" data-bs-target="#most-visited" type="button" role="tab" aria-controls="most-visited" aria-selected="true">پربازدید ترین</button>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <button class="nav-link" id="best-selling-tab" data-bs-toggle="tab" data-bs-target="#best-selling" type="button" role="tab" aria-controls="best-selling" aria-selected="false">
                                                            پرفروش
                                                            ترین
                                                        </button>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <button class="nav-link" id="most-popular-tab" data-bs-toggle="tab" data-bs-target="#most-popular" type="button" role="tab" aria-controls="most-popular" aria-selected="false">
                                                            محبوب
                                                            ترین
                                                        </button>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <button class="nav-link" id="newest-tab" data-bs-toggle="tab" data-bs-target="#newest" type="button" role="tab" aria-controls="newest" aria-selected="false">جدید ترین</button>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <button class="nav-link" id="cheapest-tab" data-bs-toggle="tab" data-bs-target="#cheapest" type="button" role="tab" aria-controls="cheapest" aria-selected="false">ارزان ترین</button>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <button class="nav-link" id="most-expensive-tab" data-bs-toggle="tab" data-bs-target="#most-expensive" type="button" role="tab" aria-controls="most-expensive" aria-selected="false">
                                                            گران
                                                            ترین
                                                        </button>
                                                    </li>
                                                </ul>
                                                <!-- end of nav-tabs -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="simplebar-placeholder" style="width: auto; height: 55px;"></div>
                        </div><div class="simplebar-track simplebar-horizontal" style="visibility: visible;"><div class="simplebar-scrollbar simplebar-visible" style="width: 319px; display: block; transform: translate3d(176px, 0px, 0px);"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar simplebar-visible" style="height: 0px; display: none;"></div></div>
                    </div>
                </div>
                <div class="listing-products-content">
                    <!-- start of tab-content -->
                    <div class="tab-content" id="sort-tabContent">
                        <!-- start of tab-pane -->
                        <div class="tab-pane fade show active" id="most-visited" role="tabpanel" aria-labelledby="most-visited-tab">
                            <div class="ui-box pt-3 pb-0 px-0 mb-4">
                                <div class="ui-box-content">
                                    <div class="row mx-0">
                                        @if (Model.Entities != null && Model.Entities.Any())
                                        {
                                            foreach (var product in Model.Entities)
                                            {
                                                <div class="col-lg-6 col-md-12 col-sm-6 mb-4">
                                                    <partial name="_ProductListItems" model="product" />
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="col-lg-12 col-md-12 col-sm-12 mb-12">
                                                <partial name="_SiteNotFoundItem">
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of tab-pane -->
                    </div>
                    <partial name="_PagingProductList" model="@Model.GetCurrentPaging()" />
                </div>
            </div>
            <div class="responsive-sidebar-overlay"></div>
        </div>
    </div>
</form>