<div class="tab-pane py-4 fade active show" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
    <div class="ui-box bg-white">
        <div class="ui-box-empty-content">
            <div class="ui-box-empty-content-icon">
                <img src="/theme-assets/images/theme/cart-empty.png" alt="">
            </div>
            <div class="ui-box-empty-content-message text-center">
                <div class="mb-3">آیتمی پیدا نشد!</div>
            </div>
        </div>
    </div>
</div>