<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="internalLog.txt">
  <variable name="logDirectory" value="${basedir}/wwwroot/my-logs" />
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <!-- the targets to write to -->
  <targets>
    <target name="f" xsi:type="File"
            layout="${longdate} ${newline}
              ${processid}  ${newline}
              ${aspnet-traceidentifier}   ${newline}
              ${aspnet-user-isauthenticated}  ${newline}
              ${aspnet-request-method}${newline}
              ${aspnet-request-url} ${newline}
              ${aspnet-user-identity}${newline}
              ${event-properties:item=EventId_Id} ${newline}
              ${uppercase:${level}} ${newline}
              ${logger}${newline}
              ${message} ${newline}
              ${exception:format=tostring} ${newline}
              ${callsite} ${newline}
              ${callsite-linenumber} ${newline}${newline}${newline}"
            fileName="${logDirectory}/${shortdate}-Error.txt" />
    <target name="All" xsi:type="File"
            layout="${longdate} ${newline}
              ${processid}  ${newline}
              ${aspnet-traceidentifier}   ${newline}
              ${aspnet-user-isauthenticated}  ${newline}
              ${aspnet-request-method}${newline}
              ${aspnet-request-url} ${newline}
              ${aspnet-user-identity}${newline}
              ${event-properties:item=EventId_Id} ${newline}
              ${uppercase:${level}} ${newline}
              ${logger}${newline}
              ${message} ${newline}
              ${exception:format=tostring} ${newline}
              ${callsite} ${newline}
              ${callsite-linenumber} ${newline}${newline}${newline}"
            fileName="${logDirectory}/${shortdate}-infoes.txt" />
    <target name="SqlQueryLog" xsi:type="File"
            fileName="${logDirectory}/${shortdate}-Sql.txt" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Error" writeTo="f" />
    <logger name="*" level="info"  writeTo="All" ></logger>
    <logger name="*Microsoft.EntityFrameworkCore.Database.Command*" level="info" writeTo="SqlQueryLog" />
  </rules>
</nlog>