@using OnlineStore.Domain.ViewModel.Admin.ProductFeature
@model CreateProductFeatureViewModel
@{
    ViewData["Title"] = "افزودن ویژگی محصول";
}
<form asp-area="Admin" asp-controller="AdminProductFeature" asp-action="Create" method="post">
    <input type="hidden" asp-for="ProductId" />
    <div class="form-group">
        <div class="form-line">
            <select asp-for="FeatureId" class="form-control">
                <option selected disabled>عنوان ویژگی را انتخاب نمایید</option>
                @if (Model.Feature != null)
                {
                    @foreach (var item in Model.Feature)
                    {
                        <option value="@item.FeatureId">@item.FeatureTitle</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="form-line">
            <input asp-for="FeatureValue" type="text" class="form-control" placeholder="مقدار ویژگی" />
        </div>
    </div> 
    <div class="form-group">
        <div class="form-line">
            <input value="" asp-for="Order" type="number" class="form-control" placeholder="الویت" />
        </div>
    </div>
 
   
    <br>
    <button type="submit" class="btn btn-primary m-t-15 waves-effect">افزودن</button>
</form>