@using OnlineStore.Domain.Enum.Ticket
@using OnlineStore.Domain.ViewModel.Tiket
@model ClientCreateTicketViewModel
@{
    ViewData["Title"] = "ایجاد تیکت جدید";
}
<div class="ui-box bg-white mb-5">
    <div class="ui-box-title">@ViewData["Title"]</div>
    <div class="ui-box-subtitle">
        فرم زیر را پر کنید (توضیحات کامل تر روند پاسخ دهی را کوتاه تر
        می
        کند.)
    </div>
    <div class="ui-box-content">
        <!-- start of add-ticket-form -->
        <form asp-action="Create" class="add-ticket-form">
            <div class="row">
                <div class="col-md-12">
                    <!-- start of form-element -->
                    <div class="form-element-row mb-5">
                        <label class="label" asp-for="Title"></label>
                        <input type="text" class="form-control" asp-for="Title">
                        <span asp-validation-for="Title"></span>
                    </div>
                    <!-- end of form-element -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- start of form-element -->
                    <div class="form-element-row mb-5">
                        <label class="label" asp-for="Section"></label>
                        <select class="select2" asp-for="Section" asp-items="@Html.GetEnumSelectList<TicketSection>()">
                        </select>
                        <span asp-validation-for="Section"></span>
                    </div>
                    <!-- end of form-element -->
                </div>
                <div class="col-md-6">
                    <!-- start of form-element -->
                    <div class="form-element-row mb-5">
                        <label class="label" asp-for="Priority"></label>
                        <select class="select2" asp-for="Priority" asp-items="@Html.GetEnumSelectList<TicketPriority>()">
                            <span asp-validation-for="Priority"></span>
                        </select>
                    </div>
                    <!-- end of form-element -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- start of form-element -->
                    <div class="form-element-row mb-5">
                        <label class="label" asp-for="Message"></label>
                        <textarea rows="5" class="form-control"
                                  placeholder="متن پیام" asp-for="Message"></textarea>
                        <span asp-validation-for="Message"></span>
                    </div>
                    <!-- end of form-element -->
                </div>
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary px-4">
                        ثبت و ارسال <i class="ri-ball-pen-line ms-2"></i>
                    </button>
                </div>
            </div>
        </form>
        <!-- end of add-ticket-form -->
    </div>
</div>