
<form class="contact-us-form"
      asp-area="UserPanel"
      asp-controller="Wallet"
      asp-action="ChargeWallet">
    <div class="row">
        <div class="col-md-8">
            <!-- start of form-element -->
            <div class="form-element-row mb-5">
                <div class="">
                    <div class="mega-search-box">
                        <div class="form-element-row with-btn">
                            <input type="text" name="price" class="form-control"
                                   placeholder="مبلغ را به تومان وارد نمایید.....">
                            <button type="submit" class="btn btn-primary"><i class="ri-wallet-3-line"></i></button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end of form-element -->
        </div>
    </div>
</form>