<header class="page-mini-header py-4">
    <div class="d-flex justify-content-center">
        <div class="logo-container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo"><img src="/admin-assets/images/Logo/Logoo.png" width="120" alt=""></a>
        </div>
    </div>
</header>