@using OnlineStore.Domain.ViewModel.Account
@model LoginViewModel
@{
    ViewData["Title"] = "ورود";
}

<div class="auth-container">
    <div class="auth-title mb-3">@ViewData["Title"]</div>
    <!-- start of auth-box -->
    <div class="auth-box ui-box">
        <!-- start of auth-form -->
        <form asp-action="Login" class="auth-form">
            <!-- start of form-element -->
            <div class="form-element-row mb-3">
                <input asp-for="UserNameOrMobile" type="text" class="form-control" placeholder="شماره موبایل یا نام کاربری">
            </div>
            <!-- end of form-element -->
            <!-- start of form-element -->
            <div class="form-element-row mb-3">
                <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور">
            </div>
            <!-- end of form-element -->
            <div class="form-element-row mb-3">
                <a asp-controller="Account" asp-action="ForgotPassword" class="text-decoration-none">فراموشی کلمه عبور!</a>
            </div>
            <!-- start of form-element -->
            <div class="form-element-row mb-3">
                <button class="btn btn-primary">ورود</button>
            </div>
            <div asp-validation-summary="All"></div>
            <!-- end of form-element -->

        </form>
        <!-- end of auth-form -->
    </div>
    <!-- end of auth-box -->
</div>