@using OnlineStore.Domain.ViewModel.Account
@model RegisterViewModel
@{
    ViewData["Title"] = "ثبت نام";
}
<div class="auth-container">
    <div class="auth-title mb-3">@ViewData["Title"]</div>
    <!-- start of auth-box -->
    <div class="auth-box ui-box">
        <!-- start of auth-form -->
        <form asp-area="" asp-controller="Account" asp-action="Register" class="auth-form">
            <!-- start of form-element -->

            <div class="form-element-row mb-5">
                <input asp-for="UserName" type="text" class="form-control" placeholder="نام کاربری">
            </div>
            <div class="form-element-row mb-5">
                <input asp-for="Mobile" type="text" class="form-control" placeholder="شماره موبایل">
            </div>
            <div class="form-element-row mb-5">
                <input asp-for="Password" type="password" class="form-control" placeholder="رمزعبور">
            </div>
            <div class="form-element-row mb-5">
                <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمزعبور">
            </div>

            <!-- end of form-element -->
            <!-- start of form-element -->
            <div class="form-element-row mb-3">
                <button class="btn btn-primary">ثبت نام</button>
            </div>
            <!-- end of form-element -->
                   <div asp-validation-summary="All"></div>
        </form>
        <!-- end of auth-form -->
    </div>
    <!-- end of auth-box -->
</div>