@using Eshop.Domain.ViewModels.Payment
@model SuccessPaymentViewModel

<div class="row">
    <div class="col-lg-8 mx-auto">
        <!-- start of box -->
        <div class="ui-box bg-white mb-5">
            <div class="ui-box-content">
                <div class="row">
                    <div class="col-md-8 order-md-1 order-2">
                        <div class="fs-5 fw-bold text-success mb-3">
                            با موفقیت پرداخت و ثبت گردید.
                        </div>
                        <div class="d-flex align-items-center flex-wrap mb-3">
                            <div class="text-secondary me-3">شماره سفارش:</div>
                            <div class="font-en">@Model.RefId</div>
                        </div>
                        <div class="text-success mb-3">
                            @Model.Message
                        </div>
                        <div class="d-flex align-items-center flex-wrap">
                            <a asp-area="UserPanel" asp-controller="Wallet" asp-action="List" class="btn btn-primary me-4">پیگیری واریزی</a>
                        </div>
                    </div>
                    <div class="col-md-4 order-md-2 order-1 mb-md-0 mb-4 text-center">
                        <img src="/images/theme/checkout-successful.png" class="img-fluid"
                             alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>