<div class="tab-content">
    <div role="tabpanel" class="tab-pane in active in active stretchLeft" id="skins">
        <div class="demo-skin">
            <div class="rightSetting">
                <p>رنگ منو نوار کناری</p>
                <button type="button" class="btn btn-sidebar-light btn-border-radius p-l-20 p-r-20">روشن</button>
                <button type="button" class="btn btn-sidebar-dark btn-default btn-border-radius p-l-20 p-r-20">تاریک</button>
            </div>
            <div class="rightSetting">
                <p>رنگ قالب</p>
                <button type="button" class="btn btn-theme-light btn-border-radius p-l-20 p-r-20">روشن</button>
                <button type="button" class="btn btn-theme-dark btn-default btn-border-radius p-l-20 p-r-20">تاریک</button>
            </div>
            <div class="rightSetting">
                <p>پوسته ها</p>
                <ul class="demo-choose-skin choose-theme list-unstyled">
                    <li data-theme="black" class="actived">
                        <div class="black-theme"></div>
                    </li>
                    <li data-theme="white">
                        <div class="white-theme white-theme-border"></div>
                    </li>
                    <li data-theme="purple">
                        <div class="purple-theme"></div>
                    </li>
                    <li data-theme="blue">
                        <div class="blue-theme"></div>
                    </li>
                    <li data-theme="cyan">
                        <div class="cyan-theme"></div>
                    </li>
                    <li data-theme="green">
                        <div class="green-theme"></div>
                    </li>
                    <li data-theme="orange">
                        <div class="orange-theme"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
