<div class="d-flex align-items-center flex-wrap my-4">
    <span class="text-secondary me-2">تلفن پشتیبانی:</span>
    <a href="javascripts:void(0)" class="link border-bottom-0 fa-num">34478143 - 013</a>
    <span class="fs-7 text-muted mx-2">|</span>
    <span>هفت روز هفته، ۲۴ ساعت شبانه روز پاسخگوی شما هستیم.</span>
</div>
<div class="services border-bottom py-4 mb-4">
    <div class="service-container">
        <a href="javascripts:void(0)" class="service">
            <span class="service-icon">
                <img src="/theme-assets/images/services/01.png" alt="">
            </span>
            <span class="service-label">ارسال در سریعترین زمان ممکن</span>
        </a>
    </div>
    <div class="service-container">
        <a href="javascripts:void(0)" class="service">
            <span class="service-icon">
                <img src="/theme-assets/images/services/02.png" alt="">
            </span>
            <span class="service-label">اطمینان و اعتماد در پرداخت اینترنتی</span>
        </a>
    </div>
    <div class="service-container">
        <a href="javascripts:void(0)" class="service">
            <span class="service-icon">
                <img src="/theme-assets/images/services/03.png" alt="">
            </span>
            <span class="service-label">۷ روز هفته، ۲۴ ساعته</span>
        </a>
    </div>
    <div class="service-container">
        <a href="javascripts:void(0)" class="service">
            <span class="service-icon">
                <img src="/theme-assets/images/services/04.png" alt="">
            </span>
            <span class="service-label">۷ روز ضمانت بازگشت کالا</span>
        </a>
    </div>
    <div class="service-container">
        <a href="javascripts:void(0)" class="service">
            <span class="service-icon">
                <img src="/theme-assets/images/services/05.png" alt="">
            </span>
            <span class="service-label">ضمانت اصل بودن کالا</span>
        </a>
    </div>
</div>