@using OnlineStore.Application.Static
<div class="row mb-3">
    <div class="col-lg-3 col-md-4 col-6">
        <div class="widget widget-footer">
            <div class="widget-title">با ما</div>
            <div class="widget-content widget-list">
                <ul>
                    <li><a asp-area="" asp-controller="CountactUs" asp-action="CreateContactUs">تماس با ما</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        @*  <div class="widget widget-footer">
            <div class="widget-title">خدمات مشتریان</div>
            <div class="widget-content widget-list">
                <ul>
                    <li><a href="#">پاسخ به پرسشهای متداول</a></li>
                    <li><a href="#">رویه های بازگرداندن کالا</a></li>
                    <li><a href="#">شرایط استفاده</a></li>
                    <li><a href="#">حریم خصوصی</a></li>
                    <li><a href="#">گزارش باگ</a></li>
                </ul>
            </div>
        </div> *@
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        @* <div class="widget widget-footer">
            <div class="widget-title">راهنمای خرید از سایت</div>
            <div class="widget-content widget-list">
                <ul>
                    <li><a href="#">نحوه ثبت سفارش</a></li>
                    <li><a href="#">رویه ارسال سفارش</a></li>
                    <li><a href="#">شیوه های پرداخت</a></li>
                </ul>
            </div>
        </div> *@
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="widget widget-footer mb-4">
            <div class="widget-title">با ما همراه باشید</div>
            <div class="widget-content widget-socials">
                <ul>
                    <li><a href="@SocialMedia.Whatsapp"><i class="ri-whatsapp-fill"></i></a></li>
                    <li><a href="@SocialMedia.Instagram"><i class="ri-instagram-fill"></i></a></li>
                    <li><a href="@SocialMedia.Telegram"><i class="ri-telegram-fill"></i></a></li>
                </ul>
            </div>
        </div>
@*         <div class="widget widget-footer">
            <div class="widget-title">از جدیدترین تخفیف ها باخبر شوید</div>
            <div class="widget-content widget-newsletter">
                <form action="#">
                    <div class="form-element-row with-btn">
                        <input type="text" class="form-control"
                               placeholder="آدرس ایمیل خود را وارد کنید">
                        <button class="btn btn-primary">ثبت</button>
                    </div>
                </form>
            </div>
        </div> *@
    </div>
</div>