<div class="row">
    <div class="col-lg-8 mb-4">
        <div class="expandable-text pt-1" style="height: 100px;">
            <div class="expandable-text_text fa-num">
                <div class="fs-6 fw-bold mb-2">
                    فروشگاه اینترنتی منطقه آزاد انزلی: بررسی، انتخاب و خرید
                </div>
                <div class="fs-7 text-secondary text-justify">

                    فروشگاه اینترنتی منطقه آزاد انزلی تجربه‌ای جدید و منحصر به فرد از خرید آنلاین را برای شما به ارمغان می‌آورد. در اینجا می‌توانید با بررسی دقیق و انتخاب هوشمندانه، از میان طیف گسترده‌ای از محصولات باکیفیت، بهترین‌ها را برای خود انتخاب کنید و با آرامش و اطمینان کامل خرید خود را انجام دهید.

                    شعار ما، "بررسی، انتخاب و خرید"، به معنای ایجاد یک مسیر ساده و شفاف برای شماست تا به راحتی و با اطمینان خاطر محصول مورد نظر خود را پیدا کنید. ما به شما این امکان را می‌دهیم تا با جزئیات کامل محصولات را بررسی کنید، نظرات دیگر کاربران را بخوانید و با اطلاعات جامع و کامل، بهترین انتخاب را داشته باشید.

                    به فروشگاه اینترنتی منطقه آزاد انزلی بپیوندید و از تجربه خریدی لذت‌بخش و بی‌نظیر بهره‌مند شوید. ما در کنار شما هستیم تا خریدی آسان و مطمئن را تجربه کنید.
                </div>
            </div>
            <div class="expandable-text-expand-btn justify-content-start text-sm">
                <span class="show-more active">
                    مشاهده بیشتر <i class="ri-arrow-down-s-line ms-2"></i>
                </span>
                <span class="show-less d-none">
                    بستن <i class="ri-arrow-up-s-line ms-2"></i>
                </span>
            </div>
        </div>
    </div>
    @*   <div class="col-lg-4 mb-4">
        <div class="trust-symbol">
            <a href="#">
                <img src="/theme-assets/images/symbol/01.png" alt="">
            </a>
            <a href="#">
                <img src="/theme-assets/images/symbol/02.png" alt="">
            </a>
            <a href="#">
                <img src="/theme-assets/images/symbol/03.png" alt="">
            </a>
        </div>
    </div> *@
</div>
<div class="copy-right text-center text-muted py-3">
    استفاده از مطالب فروشگاه اینترنتی محصولات منطقه آزاد انزلی فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه
    حقوق این
    سایت متعلق به Freezone-Product می‌باشد.
</div>