
<ul>
    <li>
        <a asp-area="" asp-controller="Order" asp-action="List" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="ri-shopping-cart-line"></i></a>
    </li>
    <li>
        <a asp-area="" asp-controller="Home" asp-action="ProductDetail" asp-route-slug="@Model.Slug" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="مشاهده سریع" aria-label="مشاهده سریع">
            <i class="ri-search-line"></i>
        </a>
    </li>
  </ul>