


<div class="ui-box bg-white mb-5">
    <div class="ui-box-title">
        پیغام
    </div>
    <div class="ui-box-empty-content">
        <div class="ui-box-empty-content-icon">
            <img src="/theme-assets/images/theme/notification.svg" alt="">
        </div>
        <div class="ui-box-empty-content-message">
            آیتمی برای نمایش وجود ندارد
        </div>
    </div>
</div>
