@using OnlineStore.Application.Static
@using OnlineStore.Domain.ViewModel.Slider.HomePageSlider
@model CreateHomePageSliderViewModel
@{
    ViewData["Title"] = "افزودن اسلایدر";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <form asp-area="Admin" asp-controller="AdminSlider" asp-action="Create" method="post" enctype="multipart/form-data">
                    <h2 class="card-inside-title">@ViewData["Title"]</h2>
                    <div class="row clearfix">
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="form-line">
                                    <input asp-for="SliderTitle" type="text" class="form-control date" placeholder="عنوان اسلایدر">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="input-group">
                                <div class="form-line">
                                    <input asp-for="SliderUrl" type="text" class="form-control date" placeholder="لینک">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <p>
                                <label>
                                    <input asp-for="IsActive" type="checkbox" class="filled-in">
                                    <span> فعال/غیرفعال</span>
                                </label>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>تصویر</span>
                                        <input asp-for="SliderAvatar" id="imgInp" type="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                                <div class="text text-danger">
                                    <span> سایز تصویر باید 2160 در 540 باشد  </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div id="image-preview"></div>
                                <img src="@PathTools.DefaultImage" class="profile_img" id="blah" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <Input type="submit" class="btn bg-green waves-effect" value="افزودن اطلاعات">
                        </div>
                        <div asp-validation-summary="All"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                blah.src = URL.createObjectURL(file)
            }
        }

    </script>
}