@using OnlineStore.Domain.ViewModel.ContactUs
@model AnswerContactUsViewModel

<form asp-action="Answer"
      data-ajax="true"
      data-ajax-mehtod="post"
      data-ajax-success="onSuccessAnswerContactUs">
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <textarea class="form-control" asp-for="Answer"></textarea>
                <span asp-validation-for="Answer"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-success" />
                <a asp-area="Admin" asp-controller="AdminContactUs" asp-action="List" class="btn btn-primary">بازگشت</a>
            </div>
        </div>
    </div>
</form>