<div class="tab-pane py-4 fade active show" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
    <div class="ui-box bg-white">
        <div class="ui-box-empty-content">
            <div class="ui-box-empty-content-icon">
                <img src="/theme-assets/images/theme/cart-empty.png" alt="">
            </div>
            <div class="ui-box-empty-content-message text-center">
                <div class="mb-3">سبد خرید شما خالی است!</div>
                <p class="text-secondary text-decoration-none fs-7 fw-bold">
                    می‌توانید برای مشاهده محصولات بیشتر به صفحات زیر بروید
                </p>
                <div class="d-flex justify-content-center flex-wrap">
                    <a asp-area="" asp-controller="Home" asp-action="ProductList" class="link fs-7 fw-bold border-bottom-0 m-2">
                        محصولات
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>